<header class="site-header">
  <div class="header-inner">
    <a href="/" class="site-logo" aria-label="LinsaFTW home">Linsa<span>FTW</span></a>
    <nav class="site-nav" aria-label="Main navigation">
      <a href="/" class="nav-link"><img src="/assets/svgs/home.svg" width="12" height="12" alt="" style="vertical-align:middle;margin-right:4px;">Blog</a>
      <a href="/about.html" class="nav-link"><img src="/assets/svgs/user.svg" width="12" height="12" alt="" style="vertical-align:middle;margin-right:4px;">About</a>
      <a href="https://arkflame.com" target="_blank" rel="noopener" class="nav-link"><img src="/assets/svgs/arkflame.svg" width="12" height="12" alt="" style="vertical-align:middle;margin-right:4px;">ArkFlame Studios</a>
      <a href="https://github.com/LinsaFTW" target="_blank" rel="noopener" class="nav-link"><img src="/assets/svgs/github.svg" width="12" height="12" alt="" style="vertical-align:middle;margin-right:4px;">GitHub</a>
    </nav>
  </div>
</header>
