<header class="site-header">
  <div class="header-inner">
    <a href="/" class="site-logo">Linsa<span>FTW</span></a>
    <nav class="site-nav">
      <a href="/" class="nav-link">
        <img src="/assets/svgs/home.svg" width="12" height="12" alt="" style="vertical-align:middle;margin-right:4px;">
        Blog
      </a>
      <a href="/about.html" class="nav-link">
        <img src="/assets/svgs/user.svg" width="12" height="12" alt="" style="vertical-align:middle;margin-right:4px;">
        About
      </a>

      <!-- Logged-in state -->
      <a href="/admin.html" class="nav-link" data-auth-show style="display:none">
        <img src="/assets/svgs/settings.svg" width="12" height="12" alt="" style="vertical-align:middle;margin-right:4px;">
        Admin
      </a>
      <a href="#" class="nav-link" data-logout data-auth-show style="display:none">
        <img src="/assets/svgs/log-out.svg" width="12" height="12" alt="" style="vertical-align:middle;margin-right:4px;">
        <span data-username>Logout</span>
      </a>

      <!-- Guest state -->
      <a href="/login.html" class="btn btn--sm" data-guest-show>
        <img src="/assets/svgs/log-in.svg" width="12" height="12" alt="">
        Login
      </a>
    </nav>
  </div>
</header>
